*.o
*.a
.settings
*.out
results
.idea
node_modules
dist
build
.DS_Store
*.log
/visualization/app/styles/css
/Default/
/cmake-build-debug
.vscode
.gradle
/gradle
/out
/paper/Fig
/*.iml
/*.ipr
/*.iws
/classes
/target
